#FloorPlan {
    display: "grid";
    grid-template-columns: repeat(18, 1fr);
    background-color: #b85337;
    column-gap: 1%;
    grid-auto-rows: minmax(10%, auto);
    height: 100vh; 
    width: 80vw; 
}

.Table {
    background-color: white;
    text-align: center;
}
