#Prompt {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background: white;
}

.PromptGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 2fr);
    row-gap: 5%;
    font-size: xx-large;
    text-align: center;
}

.PromptButton {
    width: 100%;
    height: 100%;
    font-size: x-large;
}
