#WaitList {
    width: 18vw;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
}

#MenuButton {
    display: inline-block;
    width: 90%;
    height: 10vh;
    margin: 5%;
}

#TouchButton {
    display: inline-block;
    width: 90%;
    height: 10vh;
    margin: 5%;
}

#waitlist-button-div {
    display: "grid";
    grid-template-columns: 1fr 1fr;
}


#touchicon {
    height: 100%;
    width: 100%;
}

.menudiv {
    background-color: black;
    height: 5px;
    margin: 5px;
}

.group-summary {
    display: "grid";
    grid-template-columns: repeat(2, 1fr);
    font-size: x-large;
    border: 2px outset;
    margin-left: 2%;

}

.GroupN {
    text-align: center;
    border-right: 2px ridge grey
}

.GroupT {
    text-align: center;
}


#WaitList-Verbose {
    height: 80%;
    position: relative;
    right: 150%;
    width: 250%;

}

.group-verbose {
    display: "grid"; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: x-large;
    border: 2px outset;
    margin-left: 2%;
    background-color: white;
}



.group-verbose .GroupName {
    border-right: 2px ridge grey;
    grid-column: 2; 
    grid-column-end: 4;
}

.group-verbose .GroupN {
    text-align: center;
    border-right: 2px ridge grey;
    grid-column: 4;
}

.group-verbose .GroupT {
    text-align: center;
    grid-column: 5;
}

.group-verbose .GroupBt {
    text-align: center;
    margin: 10px;
}

#WaitList-Summary {
    height: 80%;
    right: 0;
}

#group-name {
    font-size: x-large
}

#group-nmemb {
    font-size: x-large
}

#group-wait-time {
    font-size: x-large
}